@use "styles/helpers" as *;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 24px;
    @include breakpoint($medium) {
        padding-top: 58px;
        padding-bottom: 50px;
    }
    @include breakpoint($large) {
        padding-top: 60px;
        padding-bottom: 54px;
    }
}

.options_container {
    display: flex;
}

.fonts_options_container {
    position: relative;
    min-width: 183px;
    padding-right: 26px;
}

.selected_font {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 26px;
    cursor: pointer;
    p {
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1.5rem;
        color: var(--text);
        text-transform: capitalize;
    }
}

.fonts_options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--option-box);
    box-shadow: 0px 5px 30px 0px var(--option-box-shadow);
    min-width: 183px;
    border-radius: 16px;
    padding: 24px;
}

.btn_option {
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: var(--text);
    cursor: pointer;
    @include transition;
    &:hover {
        color: var(--accent-color);
    }
}
.toggle_container {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 16px;
    border-left: 1px solid var(--vert-break);
    svg {
        path {
            stroke: var(--moon-icon);
        }
    }
}
.toggle_wrap {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--toggle-bg);
    padding: 3px;
    display: flex;
    align-items: center;
    @include transition;
    &:hover {
        cursor: pointer;
        background-color: var(--accent-color);
    }
}

.toggle_circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--toggle-circle);
}

.toggle_circle_dark {
    margin-left: auto;
}
