@use "styles/helpers" as *;

.main_form {
    border: 1px solid transparent;
    background-color: var(--form-bg);
    border-radius: 16px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;

    @include breakpoint($medium) {
        padding: 22px;
    }
    &:hover {
        border: 1px solid var(--accent-color);
    }
}

.main_form_error {
    border: 1px solid var(--alert);
}

.main_input {
    background-color: transparent;
    caret-color: var(--accent-color);
    border: none;
    outline: none;
    color: var(--text);

    &::placeholder {
        opacity: 0.25;
    }
}

.btn_search {
    background-color: transparent;
    border: none;
}

.error_message {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--alert);
    position: absolute;
    bottom: -50px;
    left: 0;
}
