@use "styles/helpers" as *;

.word_data_container {
    color: var(--text);
    padding-top: 24px;
    padding-bottom: 84px;
    @include breakpoint($medium) {
        padding-top: 50px;
        padding-bottom: 118px;
    }
    @include breakpoint($large) {
        padding-top: 43px;
        padding-bottom: 120px;
    }
}
.word {
    display: flex;
    justify-content: space-between;
    h1 {
        margin-top: 0;

        span {
            color: var(--accent-color);
            font-size: 1.125rem;
            line-height: 1.5rem;
            display: block;
            margin-top: 10px;
            @include breakpoint($medium) {
                font-size: 1.5rem;
                line-height: 1.875rem;
            }
        }
    }
}

.word_audio_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn_play {
    border: none;
    background-color: transparent;
    cursor: pointer;
    svg {
        &:hover {
            g {
                fill: var(--accent-color);
            }
            circle {
                @include transition;
                opacity: 0.7;
            }
        }
    }

    @include breakpoint($medium) {
        width: 75px;
        height: 75px;
    }
}

.partOfSpeech_container {
    display: flex;
    align-items: center;
    gap: 20px;
    hr {
        width: 100%;
        height: 1px;
        background-color: var(--hr-break);
        border: none;
    }
}
.meaning {
    h3 {
        color: var(--sub-header);
    }
}
.definition_list {
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.definition_list_item {
    padding-left: 25px;
    &::marker {
        color: var(--accent-color);
        padding-left: 10px;
    }
}

.synonyms_container {
    display: flex;
    align-items: center;
    gap: 24px;

    a {
        color: var(--accent-color);
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.1875rem;
        text-decoration: none;
        @include breakpoint($medium) {
            font-size: 1.25rem;
            line-height: 1.25;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}
.example {
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 0;
    @include breakpoint($medium) {
        font-size: 1.125rem;
    }
}

.source_container {
    border-top: 1px solid var(--hr-break);
    padding-top: 24px;
    h4 {
        color: var(--sub-header);
        text-decoration: underline;
        margin-top: 0;
    }
}

.source_wrap {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
    a {
        color: var(--text);

        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.125rem;
    }
}
